<%- include('../../partials/header.ejs') %>         <!--BOOTSTRAP HEADER-->
<%- include('../../partials/navbar.ejs') %>         <!--NAVBAR-->

<div class="container">
    <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de categoria</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/save">                                                               <!-- DIRECIONAMENTO DE DADOS DO FORMULARIO COM METODO POST PARA ROTA: /categories/save-->
                    <input type="text" class="form-control" name="title" placeholder="Definia o titulo da categoria" value="<%= category.title %>"><br>
                    <button class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
</div>

<%- include('../../partials/footer.ejs') %>         <!--BOOTSTRAP FOOTER-->