<%- include('../../partials/header.ejs') %>         <!--BOOTSTRAP HEADER-->
<%- include('../../partials/navbar.ejs') %>         <!--NAVBAR-->

<div class="container">
    <hr>
        <div class="card mt-5">                         <!-- mt-5 // É O ESPAÇO DA MARGEM NO TOPO( mt= MARGE TOP ), OBS: SÓ VAI DE 1 ATÉ 5-->
            <div class="card-header">
                Criação de Usuário
            </div>
            <div class="card-body">
                <form action="/users/create" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                    <input class="form-control" name="password" type="password" placeholder="*******" ><br>
                      <div class="d-grid gap-2">        <!-- ESTICA O BOTÃO NO FORMULÁRIO-->
                        <button type="submit" class="btn btn-success">Criar</button>
                      </div>
                </form>
            </div>
        </div>
</div>

<%- include('../../partials/footer.ejs') %>         <!--BOOTSTRAP FOOTER-->